form {
    background: white;
    margin: 5%;
    padding: 1em;
    font-size: 1.1em;
}

p {
    margin: 0.2em;
}

label {
    text-align: right;
    display: inline-block;
    min-width: 16em;
}

textarea {
    font-size: 0.9em;
    max-width: 50%;
    vertical-align: top;
}

input[type='range'] {
    width: 40%;
}

button {
    width: 100%;
    background-color: green;
    color: white;
    border-width: 0;
    font-size: 1.3em;
    margin-top: 0.4em;
}

.players {
    display: flex;
}

.players fieldset {
    flex: 1;
}
