/* BODY + DIALOG */

body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: #222;
    -webkit-user-select: none;
    user-select: none;
}

dialog {
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 640px;
    height: 160px;
    margin-left: -320px;
    margin-top: -80px;
    border: 1px solid #333;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0.66;
}

dialog p {
    margin: 0;
}

dialog form button {
    font-size: 16px;
    padding: 4px 8px;
}

/* SVG */

svg {
    max-height: 100vh;;
}

text {
    font: 400 11px sans-serif;
    user-select: none;
}
