/* BODY + DIALOG */

body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: #222;
    -webkit-user-select: none;
    user-select: none;
}

dialog {
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 640px;
    height: 160px;
    margin-left: -320px;
    margin-top: -80px;
    border: 1px solid #333;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0.66;
}

dialog p {
    margin: 0;
}

dialog form button {
    font-size: 16px;
    padding: 4px 8px;
}

/* SVG */

svg {
    max-height: 100vh;
}

g {
    transition: transform 0.5s ease-in-out;
}

.enter { animation: fade-in 0.5s;  }
.leave { animation: fade-out 0.5s; }

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* .exit {
    opacity: 0;
} */

text {
    font: 400 11px sans-serif;
    user-select: none;
}
